@import "tailwindcss";



/* force hover on all devices */
@custom-variant hover (&:hover);

/* if using dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* your custom styles */
body {
  background: rgb(89 65 110);
}


